article {
    width: 100%;
    background-color: white;
    margin-bottom: 2em;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.1);
}