@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Maven+Pro:wght@400;500;600&family=Montserrat+Alternates:wght@700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #42a5f5;
}

body {
    background-color: #f5f7fb;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1135px;
    margin: 0 auto;
}

header {
    margin: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon {
    vertical-align: middle;
    width: 130px;
    height: 130px;
    margin-right: 100px;
}

h1 {
    vertical-align: middle;
    margin: 0;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    height: 182px;
    letter-spacing: 0.04em;
    text-align: center;

    color: #3F51B5;
    padding-right: 230px;
}

h1  {
    font-family: 'Lalezar', Arial, Helvetica, sans-serif;
}
